<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-2 my-2">
      <h2>Añade un nuevo Artista</h2>
    </div>
    <div class="col-md-4 offset-md-2">
      <ng-form [formGroup]="artistForm" (ngSubmit)="addArtist()">
        <div class="form-floating mb-3">
          <input formControlName="name" type="text" class="form-control"
                 id="name"
                 placeholder="Nombre del artista">
          <label for="name">Nombre del artista</label>
          <div *ngIf="name.invalid && (name.dirty || name.touched)"
               class="alert alert-warning" role="alert">
            <div *ngIf="name.errors.required || name.errors.notOnlyWhitespace">
              Nombre es obligatorio
            </div>
            <div *ngIf="name.errors.minlength">
              Mínimo 2 caracteres
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-floating mb-3">
            <input formControlName="img" type="text" class="form-control"

                   id="img"

                   placeholder="Imagen del artista">
            <label for="img">Imagen del artista</label>
            <div *ngIf="img.invalid && (img.dirty || img.touched)"
                 class="alert alert-warning" role="alert">
              <div *ngIf="img.errors.required || img.errors.notOnlyWhitespace">
                Imagen es obligatoria
              </div>
              <div *ngIf="img.errors.minlength">
                Mínimo 2 caracteres
              </div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input formControlName="year" type="text" class="form-control"

                   id="year"

                   placeholder="Año del artista">
            <label for="year">Año del artista</label>
            <div *ngIf="year.invalid && (year.dirty || year.touched)"
                 class="alert alert-warning" role="alert">
              <div *ngIf="year.errors.required || year.errors.notOnlyWhitespace">
                Año es obligatorio
              </div>
              <div *ngIf="year.errors.minlength">
                Mínimo 1 caracter
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="songs">Canciones guardadas</label>
            <select class="form-select" formControlName="songs" id="songs"
                    aria-label="songs" multiple>
              <option *ngFor="let song of canciones;" [value]="song">
                {{song.name}}</option></select>
            <div *ngIf="songs.invalid && (songs.dirty || songs.touched)"
                 class="alert alert-warning" role="alert">
              <div *ngIf="songs.errors.required">
                Elegir una cancion es obligatorio
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="songs">Albumes del artista</label>
          <select class="form-select" formControlName="albums" id="albums"
                  aria-label="albums" multiple>
            <option *ngFor="let album of albumes;" [value]="album">
              {{album.name}}</option></select>
          <div *ngIf="albums.invalid && (albums.dirty || albums.touched)"
               class="alert alert-warning" role="alert">
            <div *ngIf="albums.errors.required">
              Elegir un album es obligatorio
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-success"
                  (click)="addArtist()">Add Artist
          </button>
        </div>
      </ng-form>
    </div>
    <div class="card" style="width: 300px;">
      <img [src]="img.value ===''?'/assets/images/no-image-icon.jpg':img.value" class="card-img-top"
           [alt]="img.value"/>
      <div class="card-body">
        <h3 class="card-text">{{name.value === '' ? 'Nombre' : name.value}}</h3>
        <h3 class="card-text">Año: {{year.value === '' ? 'Año' : year.value}}</h3>
      </div>
    </div>
    <ngb-toast class="toast-container position-fixed
bg-success text-light top-0 end-50 p-1"
               style="z-index: 1200" *ngIf="toastShow">

      {{toast.body}}
    </ngb-toast>
  </div>
</div>
